<div class="col-sm-6">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> {{event.name}}</h3>
  </div>
  <div class="panel-body" style="min-height: 80px;">
      {{event.description}}
  </div>
  <div class="panel-footer">
    <ul class="list-inline">
        <li><a class="btn btn-sm btn-success"{{action 'vote' event }}>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{event.votes}}
          </a>
          </li>
          <li class="pull-right">
            <a  class="btn btn-sm btn-default">Required: {{event.required}}</a>
          </li>
    </ul>
  </div>
  </div>
</div>