<nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
        {{#link-to "application" classNames='navbar-brand'}} Home{{/link-to}}
     </div>
   <ul class="nav navbar-nav navbar-left">
        <li>
                {{#link-to 'events' class="navbar-brand" }} Events {{/link-to}}
        </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li>
      {{#if loggedIn }}
            <a {{ action "logout" }} class="btn btn-danger navbar-btn navbar-right">Log out</a>
        {{else}}
            <a {{ action "login" }} class="btn btn-info log">Log In</a>
        {{/if}}
      </li>
      </ul>
   </div>
 </nav>
