<div class="jumbotron text-center">
  <h1>Events</h1>
</div>
<div class="container">
  <div class="row">
    {{#each model  as |event|}}
   {{#if event.featured}}
     <div class="jumbotron">
       <h2>Featured</h2>
       <h1>{{event.name}}</h1>
       <p>{{event.description}}</p>
       <a  class="btn btn-lg btn-primary" href="/event/{{event.id}}">View</a>
     </div>
     {{else}}
        {{app-event event=event}}
   {{/if}}
    {{/each}}
  </div>
</div>